<header class="main-header">
    <div class="container header-inner">
        <a href="index.html" class="logo"><img src="../assets/images/logo_Minh_Giang_Pharmacy.png" alt="Minh Giang Pharmacy"></a>
        <div class="search-area">
            <div class="search-box">
                <input type="text" placeholder="Tìm tên thuốc, bệnh lý, thực phẩm chức năng...">
                <button class="search-btn"><i class="fa-solid fa-magnifying-glass"
                        style="color:white;font-size:16px;"></i></button>
            </div>
        </div>
        <div class="header-actions">
            <a href="#" class="cart-btn"><img src="../assets/images/icon_cart.png" alt="Cart" class="icon-cart"> Giỏ hàng</a>
            <a href="Web/login.html" class="login-btn"><img src="../assets/images/icon_user.png" alt="User" class="icon-user">
                Đăng nhập</a>
        </div>
    </div>
    <nav class="main-nav">
        <div class="container nav-inner">
            <ul class="nav-list">
                <li><a href="#">Thuốc <img src="../assets/images/icon_arrow_down.png" alt="arrow" class="arrow-down"></a></li>
                <li><a href="#">Thực phẩm chức năng <img src="../assets/images/icon_arrow_down.png" alt="arrow"
                            class="arrow-down"></a></li>
                <li><a href="#">Dược mỹ phẩm <img src="../assets/images/icon_arrow_down.png" alt="arrow" class="arrow-down"></a>
                </li>
                <li><a href="#">Chăm sóc cá nhân <img src="../assets/images/icon_arrow_down.png" alt="arrow"
                            class="arrow-down"></a></li>
                <li><a href="#">Mẹ & bé <img src="../assets/images/icon_arrow_down.png" alt="arrow" class="arrow-down"></a></li>
                <li><a href="#">Dụng cụ y tế <img src="../assets/images/icon_arrow_down.png" alt="arrow" class="arrow-down"></a>
                </li>
                <li><a href="disease.html" class="nav-active">Bệnh lý <img src="../assets/images/icon_arrow_down.png" alt="arrow"
                            class="arrow-down"></a></li>
                <li><a href="#">Góc sức khỏe <img src="../assets/images/icon_arrow_down.png" alt="arrow" class="arrow-down"></a>
                </li>
                <li><a href="#">Tin tức <img src="../assets/images/icon_arrow_down.png" alt="arrow" class="arrow-down"></a></li>
            </ul>
        </div>
    </nav>
</header>