<div class="top-bar">
    <div class="container top-bar-inner">
        <div class="top-bar-left">
            <img src="../assets/images/icon_map.png" alt="Map" class="icon-small">
            <span>Hệ thống nhà thuốc: <a href="#" class="text-green text-underline" style="font-weight:700;">Xem chi
                    tiết</a></span>
            <span style="margin-left:20px;margin-right:5px;">Ngôn ngữ:</span>
            <img src="../assets/images/flag_viet_nam.png" alt="VN" class="flag active">
            <img src="../assets/images/flag_uk.png" alt="UK" class="flag">
            <img src="../assets/images/flag_kor.png" alt="KOR" class="flag">
        </div>
        <div class="top-bar-right">
            <a href="#" class="top-link"><img src="../assets/images/icon_lightning.png" alt="Hotdeal"
                    class="icon-small">
                Hotdeal</a>
            <span style="margin-left:15px;"></span>
            <a href="#" class="top-link"><img src="../assets/images/icon_sheid_medical.png" alt="Góc sức khỏe"
                    class="icon-small">
                Góc sức khỏe</a>
            <span style="margin-left:15px;"></span>
            <span class="hotline-text">Tư vấn miễn phí: <strong class="text-underline" style="color:#333333;">1800 55 88
                    98</strong></span>
        </div>
    </div>
</div>