<div class="top-searches-section">
    <h2 class="section-title">Tìm kiếm hàng đầu</h2>
    <div class="top-search-links">
        <a href="#">Nước hồng sâm</a><a href="#">Nước thảo mộc</a><a href="#">Kẹo sâm</a><a href="#">Vitamin nhóm
            B</a><a href="#">Vitamin tổng hợp</a><a href="#">Bổ sung canxi</a><a href="#">Tiêu hóa</a><a href="#">Chức
            năng gan</a><a href="#">Ngủ ngon</a><a href="#">Bảo vệ tim mạch</a>
        <a href="#">Giảm cân</a><a href="#">Xương khớp</a><a href="#">Giảm ho</a><a href="#">Tiểu đường</a><a
            href="#">Tăng cường đề kháng</a><a href="#">Nhân sâm</a><a href="#">Sữa rửa mặt</a><a href="#">Serum</a><a
            href="#">Kem dưỡng ẩm</a><a href="#">Kem chống nắng</a><a href="#">Trị gàu</a>
        <a href="#">Dưỡng tóc</a><a href="#">Dưỡng mắt</a><a href="#">Trị mụn</a><a href="#">Trị sẹo</a><a href="#">Viêm
            da dị ứng</a><a href="#">Khẩu trang</a><a href="#">Dung dịch vệ sinh</a><a href="#">Men vi sinh</a><a
            href="#">Máy đo huyết áp</a>
    </div>
</div>